### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

modules.xml
webooktrial
target/
sarama/
scripts/
/opentelemetry
/cronjob
/pkg/wego
/grpc
buf.gen.yaml
**/data.sql
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/modules.xml
go.work

**/mvnw
**/mvnw.cmd
**/.mvn
**/target/
**/.gitignore

# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml